  <nav id="barNav2">
    <div class="nav-wrapper" id="barNav">
      <div id="backBar" class="sombra">
        
      </div>
      <div id="Logotipo">
        <div id="iso">
          <img src="./iso.png" id="img">
        </div>
        <div id="nombreLogo">
          <img src="./tipo.png" id="img1">
        </div>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="am" onclick="gotom('#seccion2');">¿Qué es BEN?</a></li>
        <li><a class="am" onclick="gotom('#seccion3');">Lo que hacemos</a></li>
        <!-- <li><a class="am" href="#">Agéndate</a></li> -->
        <li><a class="am" onclick="gotom('#seccion5');">Comunidad</a></li>
        <li><a class="am" onclick="gotom('#seccion6');">Noticias</a></li>
        <li><a class="am" onclick="gotom('#seccion7');">Nosotros</a></li>
        <li><a class="am" onclick="gotom('#seccion8');">Contacto</a></li>
      </ul>
    </div>
  </nav>